body 
{
  max-width: 960px;
  display: block;
  margin: auto;
}
main 
{
  width: 70%;
  float: right;
  padding: 20px;
}

#external-links  {
  min-width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  padding-top: 25px;
}


blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}


@media screen and (max-width: 990px) {
  body {
    margin: 0 auto;
  }
  main {
    min-width:70%;
  }
  #external-links {
    padding: 10px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 800px) {
  main {
    min-width: 90%;
    float: left;
  }
  #external-links {
    float: left;
    padding-top:0px;
  }
}
